In [1]:
import pandas as pd
import gzip

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('amazon_food.json.gz')

In [2]:
df.head()

,reviewerID,asin,reviewerName,helpful,unixReviewTime,reviewText,overall,reviewTime,summary
0,A1VEELTKS8NLZB,616719923X,Amazon Customer,"[0, 0]",1370044800,Just another flavor of Kit Kat but the taste i...,4.0,"06 1, 2013",Good Taste
1,A14R9XMZVJ6INB,616719923X,amf0001,"[0, 1]",1400457600,I bought this on impulse and it comes from Jap...,3.0,"05 19, 2014","3.5 stars, sadly not as wonderful as I had hoped"
2,A27IQHDZFQFNGG,616719923X,Caitlin,"[3, 4]",1381190400,Really good. Great gift for any fan of green t...,4.0,"10 8, 2013",Yum!
3,A31QY5TASILE89,616719923X,DebraDownSth,"[0, 0]",1369008000,"I had never had it before, was curious to see ...",5.0,"05 20, 2013",Unexpected flavor meld
4,A2LWK003FFMCI5,616719923X,Diana X.,"[1, 2]",1369526400,I've been looking forward to trying these afte...,4.0,"05 26, 2013","Not a very strong tea flavor, but still yummy ..."

In [5]:
df = df[['reviewText', 'overall']]

In [6]:
df.head()

                                          reviewText  overall
0  Just another flavor of Kit Kat but the taste i...      4.0
1  I bought this on impulse and it comes from Jap...      3.0
2  Really good. Great gift for any fan of green t...      4.0
3  I had never had it before, was curious to see ...      5.0
4  I've been looking forward to trying these afte...      4.0

In [7]:
df.to_csv('amazon_food.csv', encoding='utf-8')