In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('chosenglutton.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,Ramen Champion @ Central Clarke Quay: Level 20...,ramen champion central clarke quay i cant bel...,"August 27, 2017"
1,The Lime Truck: Los Angeles Food Truck Offers ...,celebrity chef daniel shemtob flown in from ha...,"August 24, 2017"
2,Maison Ikkoku Bar: Happy 6th Birthday Special ...,maison ikkoku bar th birthday special king pra...,"July 1, 2017"
3,Marriott Café @ Singapore Marriott Tang Plaza ...,one fruit many form its durian season again an...,"June 14, 2017"
4,The Disgruntled Brasserie: 5-Course Weekend Br...,the disgruntled brasserie a sister outlet of t...,"May 22, 2017"

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.45759296417  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

9731

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 14
Total number of words : 9731
Average no. of words per record : 695

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,Ramen Champion @ Central Clarke Quay: Level 20...,ramen champion central clarke quay i cant bel...,"August 27, 2017",ramen champion central clarke quay i cant beli...,639
1,The Lime Truck: Los Angeles Food Truck Offers ...,celebrity chef daniel shemtob flown in from ha...,"August 24, 2017",celebrity chef daniel shemtob flown in from ha...,942
2,Maison Ikkoku Bar: Happy 6th Birthday Special ...,maison ikkoku bar th birthday special king pra...,"July 1, 2017",maison ikkoku bar th birthday special king pra...,176
3,Marriott Café @ Singapore Marriott Tang Plaza ...,one fruit many form its durian season again an...,"June 14, 2017",one fruit many form it durian season again and...,297
4,The Disgruntled Brasserie: 5-Course Weekend Br...,the disgruntled brasserie a sister outlet of t...,"May 22, 2017",the disgruntled brasserie a sister outlet of t...,661

In [11]:
f = 'chosenglutton.csv'
df.to_csv(f, encoding='utf-8')