In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('eatbook.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,\nHawker Reviews\nI Am Legend Review: Massive ...,i love getting a good and messy ramly burger e...,11th October 2017
1,\nFood By Area\n8 Halal Dessert Spots Near Bug...,whenever i want to look for new dessert spots ...,11th October 2017
2,\nHawker Interviews\nWei Ji Braised Duck: Brai...,braised duck rice is one of those dishes that ...,10th October 2017
3,\nFood By Themes\n9 Halal Zi Char Places To Ji...,when i was in junior college the place to find...,10th October 2017
4,\nCafe Reviews\nPlaymade Review: New Bubble Te...,bubble tea is considered a muchloved drink for...,9th October 2017

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 4.31289482117  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

337832

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 390
Total number of words : 337832
Average no. of words per record : 866

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,\nHawker Reviews\nI Am Legend Review: Massive ...,i love getting a good and messy ramly burger e...,11th October 2017,i love getting a good and messy ramly burger e...,719
1,\nFood By Area\n8 Halal Dessert Spots Near Bug...,whenever i want to look for new dessert spots ...,11th October 2017,whenever i want to look for new dessert spot a...,904
2,\nHawker Interviews\nWei Ji Braised Duck: Brai...,braised duck rice is one of those dishes that ...,10th October 2017,braised duck rice is one of those dish that mo...,1306
3,\nFood By Themes\n9 Halal Zi Char Places To Ji...,when i was in junior college the place to find...,10th October 2017,when i wa in junior college the place to find ...,1140
4,\nCafe Reviews\nPlaymade Review: New Bubble Te...,bubble tea is considered a muchloved drink for...,9th October 2017,bubble tea is considered a muchloved drink for...,776

In [11]:
f = 'eatbook.csv'
df.to_csv(f, encoding='utf-8')