In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('gninethree.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,The Bird Southern Table & Bar @ Marina Bay Sands,another franchise has opened in singapore and ...,"September 3, 2017"
1,Weekend Brunch @ DON HO – Social Kitchen & Bar,don ho social kitchen bar opened earlier this...,"August 27, 2017"
2,MAGNUM Opens 1st Magnum Pleasure Store in Sing...,if you are one of those who would eagerly anti...,"August 8, 2017"
3,"Sunday Brunch @ Corner House, Singapore Botani...",occupying the iconic colonial house in singapo...,"August 2, 2017"
4,GODIVA Chocolatier Opens Lifestyle Concept Des...,luxury belgian chocolate brand godiva chocolat...,"June 30, 2017"

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.38647198677  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

12293

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 20
Total number of words : 12293
Average no. of words per record : 614

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,The Bird Southern Table & Bar @ Marina Bay Sands,another franchise has opened in singapore and ...,"September 3, 2017",another franchise ha opened in singapore and t...,705
1,Weekend Brunch @ DON HO – Social Kitchen & Bar,don ho social kitchen bar opened earlier this...,"August 27, 2017",don ho social kitchen bar opened earlier this ...,461
2,MAGNUM Opens 1st Magnum Pleasure Store in Sing...,if you are one of those who would eagerly anti...,"August 8, 2017",if you are one of those who would eagerly anti...,329
3,"Sunday Brunch @ Corner House, Singapore Botani...",occupying the iconic colonial house in singapo...,"August 2, 2017",occupying the iconic colonial house in singapo...,675
4,GODIVA Chocolatier Opens Lifestyle Concept Des...,luxury belgian chocolate brand godiva chocolat...,"June 30, 2017",luxury belgian chocolate brand godiva chocolat...,443

In [11]:
f = 'gninethree.csv'
df.to_csv(f, encoding='utf-8')