In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('hungrybird.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,Raffles Singapore Mooncakes 2017 (bonus moonca...,mid autumn festival is literally around the co...,"October 3, 2017"
1,ABC Cooking Studio,as much as i love eating out i also love makin...,"September 27, 2017"
2,Shuu by Koki – Dessert,i found the best choux pastry in singapore guy...,"September 26, 2017"
3,Brawn & Brains – Brunch,im not the sort to cafe hop or have brunch on ...,"September 24, 2017"
4,Violet Oon Satay Grill & Bar – Dinner,ive been to violet oons kitchen bukit timah an...,"September 23, 2017"

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.38907313347  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

16207

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 21
Total number of words : 16207
Average no. of words per record : 771

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,Raffles Singapore Mooncakes 2017 (bonus moonca...,mid autumn festival is literally around the co...,"October 3, 2017",mid autumn festival is literally around the co...,702
1,ABC Cooking Studio,as much as i love eating out i also love makin...,"September 27, 2017",a much a i love eating out i also love making ...,1421
2,Shuu by Koki – Dessert,i found the best choux pastry in singapore guy...,"September 26, 2017",i found the best chou pastry in singapore guy ...,445
3,Brawn & Brains – Brunch,im not the sort to cafe hop or have brunch on ...,"September 24, 2017",im not the sort to cafe hop or have brunch on ...,696
4,Violet Oon Satay Grill & Bar – Dinner,ive been to violet oons kitchen bukit timah an...,"September 23, 2017",ive been to violet oons kitchen bukit timah an...,787

In [11]:
f = 'hungrybird.csv'
df.to_csv(f, encoding='utf-8')