In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('hungrygeek.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,Open Door Policy – Healthy Gluten-Free Delight...,storefront of open door policy if youre search...,7 Oct 2017
1,49 Seats – Super Delicious Western Food!,the storefront of seats here are the highligh...,19 Sep 2017
2,Matsuya Sushi Bar – Sushi Omakase hidden in Bugis,fancy of an exquisite japanese meal at an affo...,19 Sep 2017
3,Provisions @ Dempsey – Skewers & Claypot Rice ...,the storefront of provisions dempsey dempsey ...,26 Aug 2017
4,The Masses – Another Great Creation by Saveur’...,the storefront of the masses david and i have ...,28 Jun 2017

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.32311892509  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

12668

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 15
Total number of words : 12668
Average no. of words per record : 844

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,Open Door Policy – Healthy Gluten-Free Delight...,storefront of open door policy if youre search...,7 Oct 2017,storefront of open door policy if youre search...,1066
1,49 Seats – Super Delicious Western Food!,the storefront of seats here are the highligh...,19 Sep 2017,the storefront of seat here are the highlight ...,633
2,Matsuya Sushi Bar – Sushi Omakase hidden in Bugis,fancy of an exquisite japanese meal at an affo...,19 Sep 2017,fancy of an exquisite japanese meal at an affo...,1010
3,Provisions @ Dempsey – Skewers & Claypot Rice ...,the storefront of provisions dempsey dempsey ...,26 Aug 2017,the storefront of provision dempsey dempsey hi...,464
4,The Masses – Another Great Creation by Saveur’...,the storefront of the masses david and i have ...,28 Jun 2017,the storefront of the mass david and i have be...,858

In [11]:
f = 'hungrygeek.csv'
df.to_csv(f, encoding='utf-8')