In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('ladyironchef.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,Kabuke – New Japanese Sake Bar And Restaurant ...,kabukeis a new japanese sake bar and restauran...,"October 11, 2017"
1,Jin Ho Mia – Grain Bowls By Day & Alaskan Crab...,photo credit jin ho mia jin ho miawhich means ...,"October 11, 2017"
2,honestbee FOOD – 30% To 50% Off Food Delivery ...,for many the month of october is presumably mo...,"October 10, 2017"
3,Jiakpalang Eating House – New Mod-Sin Restaura...,we are seeing a rapid growth in fb establishme...,"October 10, 2017"
4,Passion 5 Seoul – Dessert Emporium In Itaewon ...,owned by spc groupthe same conglomeratebehind ...,"October 10, 2017"

In [4]:
details = df['Details']

In [5]:
"""
import time

start = time.time()

spell_check = []
for item in details:
    item = str(item).decode('utf-8')
    t = TextBlob(item).correct()
    spell_check.append(t)
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'
"""

"\nimport time\n\nstart = time.time()\n\nspell_check = []\nfor item in details:\n    item = str(item).decode('utf-8')\n    t = TextBlob(item).correct()\n    spell_check.append(t)\n    \nend = time.time()\nexe_time = end - start\nprint 'Time taken :',(exe_time),' seconds'\n"

In [6]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 3.93539905548  seconds

In [7]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [8]:
df['Details_processed'] = lemma_check

In [9]:
df['Word_count'] = word_count
sum(df['Word_count'])

294162

In [10]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 400
Total number of words : 294162
Average no. of words per record : 735

In [11]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,Kabuke – New Japanese Sake Bar And Restaurant ...,kabukeis a new japanese sake bar and restauran...,"October 11, 2017",kabukeis a new japanese sake bar and restauran...,265
1,Jin Ho Mia – Grain Bowls By Day & Alaskan Crab...,photo credit jin ho mia jin ho miawhich means ...,"October 11, 2017",photo credit jin ho mia jin ho miawhich mean a...,310
2,honestbee FOOD – 30% To 50% Off Food Delivery ...,for many the month of october is presumably mo...,"October 10, 2017",for many the month of october is presumably mo...,1191
3,Jiakpalang Eating House – New Mod-Sin Restaura...,we are seeing a rapid growth in fb establishme...,"October 10, 2017",we are seeing a rapid growth in fb establishme...,266
4,Passion 5 Seoul – Dessert Emporium In Itaewon ...,owned by spc groupthe same conglomeratebehind ...,"October 10, 2017",owned by spc groupthe same conglomeratebehind ...,612

In [12]:
f = 'ladyironchef.csv'
df.to_csv(f, encoding='utf-8')