In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('ordinarypatron.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,牛一嘴 Núodle – Lanzhou Beef Noodles at SingPost ...,lanzhou is the capital and largest city of gan...,11 October 2017
1,Drinks at Lobby Bar 1864 Sofitel Singapore Cit...,the lobby bar sofitel singapore is named afte...,10 October 2017
2,Racines Sofitel Singapore – new restaurant in ...,racines sofitel singapore is a new restaurant ...,9 October 2017
3,Hipster Food Courts in Singapore – food halls ...,a recent article in the straits times new hawk...,8 October 2017
4,The Hawkerman at SingPost Centre,the new mall of the singapore post centre or s...,7 October 2017

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.35499286652  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

20180

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 36
Total number of words : 20180
Average no. of words per record : 560

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,牛一嘴 Núodle – Lanzhou Beef Noodles at SingPost ...,lanzhou is the capital and largest city of gan...,11 October 2017,lanzhou is the capital and largest city of gan...,540
1,Drinks at Lobby Bar 1864 Sofitel Singapore Cit...,the lobby bar sofitel singapore is named afte...,10 October 2017,the lobby bar sofitel singapore is named after...,434
2,Racines Sofitel Singapore – new restaurant in ...,racines sofitel singapore is a new restaurant ...,9 October 2017,racine sofitel singapore is a new restaurant i...,492
3,Hipster Food Courts in Singapore – food halls ...,a recent article in the straits times new hawk...,8 October 2017,a recent article in the strait time new hawker...,650
4,The Hawkerman at SingPost Centre,the new mall of the singapore post centre or s...,7 October 2017,the new mall of the singapore post centre or s...,532

In [11]:
f = 'ordinarypatron.csv'
df.to_csv(f, encoding='utf-8')