In [1]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
df = pd.read_csv('rubbisheat.csv', index_col=0)

In [3]:
df.head()

,Title,Details,Date
0,"\n\n\t\t\t.elia Cafe, Jiak Chuan Road: Excelle...",taking over oriole coffee roasters elia cafe a...,"October 11, 2017"
1,"\n\n\t\t\tHolyCrab, Bugis: Home Chef For Seven...",restaurateur jamie lim from joo bar is home ch...,"October 9, 2017"
2,"\n\n\t\t\tButcher Boy, Keong Saik: Asian-Inspi...",cure the best restaurant in has quietly opene...,"October 6, 2017"
3,\n\n\t\t\tNew Cafes and Hawkers in Singapore O...,new cafes in oct handmade gelato made fresh d...,"October 4, 2017"
4,\n\n\t\t\tNew Restaurants in October\t\t\n,restaurants in oct not to be confused with al...,"October 2, 2017"

In [4]:
details = df['Details']

In [5]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.80562996864  seconds

In [6]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [7]:
df['Details_processed'] = lemma_check

In [8]:
df['Word_count'] = word_count
sum(df['Word_count'])

95966

In [9]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 133
Total number of words : 95966
Average no. of words per record : 721

In [10]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,"\n\n\t\t\t.elia Cafe, Jiak Chuan Road: Excelle...",taking over oriole coffee roasters elia cafe a...,"October 11, 2017",taking over oriole coffee roaster elia cafe at...,536
1,"\n\n\t\t\tHolyCrab, Bugis: Home Chef For Seven...",restaurateur jamie lim from joo bar is home ch...,"October 9, 2017",restaurateur jamie lim from joo bar is home ch...,565
2,"\n\n\t\t\tButcher Boy, Keong Saik: Asian-Inspi...",cure the best restaurant in has quietly opene...,"October 6, 2017",cure the best restaurant in ha quietly opened ...,637
3,\n\n\t\t\tNew Cafes and Hawkers in Singapore O...,new cafes in oct handmade gelato made fresh d...,"October 4, 2017",new cafe in oct handmade gelato made fresh dai...,606
4,\n\n\t\t\tNew Restaurants in October\t\t\n,restaurants in oct not to be confused with al...,"October 2, 2017",restaurant in oct not to be confused with alat...,702

In [11]:
f = 'rubbisheat.csv'
df.to_csv(f, encoding='utf-8')