In [3]:
import pandas as pd
from textblob import TextBlob, Word
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [4]:
df = pd.read_csv('singaporefoodie.csv', index_col=0)

In [5]:
df.head()

,Title,Details,Date
0,10 Places for a Long Lunch on the Weekend,nothing spells leisurely weekend like a long l...,"September 5, 2017"
1,Checking out Food Outlets in Orchard Road,orchard road can be a bit of a minefield when ...,"September 5, 2017"
2,FOC Sentosa,foc sentosa has given me a great excuse to wri...,"August 29, 2017"
3,The New Quayside Vibe,if you havent been to quayside at robertson qu...,"August 16, 2017"
4,Kith Cafe – Choose from 8 Locations,kith cafe is one of the first cafes i visited ...,"August 9, 2017"

In [6]:
details = df['Details']

In [7]:
import time

start = time.time()

lemma_check =[]
wnl = WordNetLemmatizer()
for item in details:
    item = str(item).decode('utf-8')
    t = " ".join([wnl.lemmatize(i) for i in item.split()])
    lemma_check.append(t) 
    
end = time.time()
exe_time = end - start
print 'Time taken :',(exe_time),' seconds'

Time taken : 2.54298520088  seconds

In [8]:
word_count = []
for lemma in lemma_check:
    count = len(lemma.split())
    word_count.append(count)

In [9]:
df['Details_processed'] = lemma_check

In [10]:
df['Word_count'] = word_count
sum(df['Word_count'])

33871

In [11]:
print 'Total number of records :', len(df)
print 'Total number of words :', sum(df['Word_count'])
print 'Average no. of words per record :', sum(df['Word_count'])/len(df)

Total number of records : 40
Total number of words : 33871
Average no. of words per record : 846

In [12]:
df.head()

,Title,Details,Date,Details_processed,Word_count
0,10 Places for a Long Lunch on the Weekend,nothing spells leisurely weekend like a long l...,"September 5, 2017",nothing spell leisurely weekend like a long lu...,1297
1,Checking out Food Outlets in Orchard Road,orchard road can be a bit of a minefield when ...,"September 5, 2017",orchard road can be a bit of a minefield when ...,461
2,FOC Sentosa,foc sentosa has given me a great excuse to wri...,"August 29, 2017",foc sentosa ha given me a great excuse to writ...,704
3,The New Quayside Vibe,if you havent been to quayside at robertson qu...,"August 16, 2017",if you havent been to quayside at robertson qu...,602
4,Kith Cafe – Choose from 8 Locations,kith cafe is one of the first cafes i visited ...,"August 9, 2017",kith cafe is one of the first cafe i visited i...,479

In [13]:
f = 'singaporefoodie.csv'
df.to_csv(f, encoding='utf-8')